<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicdroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClassicalActivity" android:label="@string/classical"/>
        <activity android:name=".PopularActivity" android:label="@string/popular"/>
        <activity android:name=".Pop90sActivity" android:label="@string/pop90s"/>
        <activity android:name=".Pop80sActivity" android:label="@string/pop80s"/>
        <activity android:name=".RockActivity" android:label="@string/rock"/>
        <activity android:name=".JazzActivity" android:label="@string/jazz"/>
        <activity android:name=".FavoritesActivity" android:label="@string/favorites"/>
    </application>

</manifest>